body{
    background-color: grey;
}
a{
    text-decoration: none;
}
/* hier enden globale regeln*/
.welcome1{
    font-size: 500%;
    font-weight: 400;
    color: red;
    margin: 5%;
    font-family: 'Smooch', cursive;
    display: flex;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function:ease-in;
}
.welcome1:hover{
    font-size: 600%;
    font-weight: 700;
    text-shadow: 0px 0px  50px red;
    cursor: pointer;
}
.music{
    margin: auto;
    padding: 2%;
    scale: 80%;
    display: flex;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function:ease-in-out;
}
.music:hover{
    scale: 90%;
}
.einblend_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 100px;
    margin: 2%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 3%;
    font-size: 90%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.einblend_button:hover{
    font-size: 110%;
    cursor: pointer;
}
.ausblend_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 100px;
    margin: 2%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 3%;
    font-size: 90%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.ausblend_button:hover{
    font-size: 110%;
    cursor: pointer;
}
.schaedel_parent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}
.schaedel{
    display: flex;
    justify-content: center;
    max-width: 8%;
    height: auto;
}
/*animation von dem sprite links oben*/
.animation_pirat{
    border: 4px solid red;
    margin-top: auto;
    width: 64px;
    height: 64px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-5%, -10%);
    background: url(pirat-spritesheet.png);
    animation: jump 0.5s steps(2) infinite;
}
@keyframes jump{
    from{background-position-x: 0px;}
    to{background-position-x: 132px;}
}
.einfuerung{
    font-size: 150%;
    font-weight: 400;
    padding-right: 0%;
    padding-left: 0%;
    font-family: 'Smooch', cursive;
    text-align: center;
}
#einfuerung_id{
    margin: auto;
}
/*hier endet oberer Teil*/
.btns_con_oben{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn_start_con{
    margin: 5%;
}

.start_btn{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 3%;
    font-size: 150%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    
}
.start_btn:hover{
    font-size: 200%;
    cursor: pointer;
}
.btn_stop_con{
    margin: 5%;
}

.stop_btn{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 3%;
    font-size: 150%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.stop_btn:hover{
    font-size: 200%;
    cursor: pointer;
}
/*obere Buttons*/
.kapitel1{
    font-size: 130%;
    margin: auto;
}
#chapter1{
    display: none;
}
/*hier endet erstes Kapitel*/
.btns_con_unten1{
    display: none;
    justify-content: center;
    align-items: center;
}
#boot_kauf_con_id{
    margin: 5%;
}
#boot_kauf_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#boot_kauf_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*erster button ende*/
#teller_wasch_con_id{
    margin: 5%;
    
}
#teller_wasch_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#teller_wasch_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*zweiter button ende*/
#essen_con_id{
    margin: 5%;
}
#essen_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#essen_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*dritter button ende*/
#chapter_bootkauf{
    font-size: 130%;
    margin: auto;
    display: none;

}
/*nächstes Kapitel*/
#btns_con_unten2_id{
    display: none;
    align-items: center;
    justify-content: center;
}
/*alle buttons*/
#karte_befolgen_con_id{
    margin: 5%;
}
#karte_befolgen_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#karte_befolgen_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*erster button ende*/
#karte_nicht_befolgen_con_id{
    margin: 5%;
}
#karte_nicht_befolgen_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#karte_nicht_befolgen_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*zweiter button ende*/
#verkaufen_con_id{
    margin: 5%;
}
#verkaufen_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#verkaufen_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*dritter button ende*/

#chapter_essen{
    font-size: 130%;
    margin: auto;
    display: none;
}
/*neues Kapitel*/
#tot_ch4_id{
    font-weight: 600;
}
/*du-bist-tot Text*/
#sensenmann_con_ch4_id{
    display: none;
    justify-content: center;
}

#sensenmann_bild_ch4_id{
    margin: 5%;
    height: 20%;
    width: 20%;
}
/*Sensenmann Bild*/
#chapter_karte_befolgen{
    font-size: 130%;
    margin: auto;
    display: none;
}
/*nächstes Kapitel*/
#btns_con_unten4_id{
    display: none;
    align-items: center;
    justify-content: center;
}
/*buttons container*/
#wald_con_id{
    margin: 5%;
}
#wald_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#wald_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*wald button*/
#berge_con_id{
    margin: 5%;
}
#berge_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#berge_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*berge button*/
#chapter_karte_nichtbefolgen{
    font-size: 130%;
    margin: auto;
    display: none;
}
/*neues Kapitel*/
#tot_ch6_id{
    font-weight: 600;
}
/*du-bist-tot Text*/
#sensenmann_con_ch6_id{
    display: none;
    justify-content: center;
}

#sensenmann_bild_ch6_id{
    margin: 5%;
    height: 20%;
    width: 20%;
}
/*Sensenmann Bild*/
#chapter_karte_verkaufen{
    display: none;
    font-size: 130%;
    margin: auto;
}
/*neues Kapitel*/
#tot_ch7_id{
    font-weight: 600;
}
/*du-bist-tot Text*/
#sensenmann_con_ch7_id{
    display: none;
    justify-content: center;
}

#sensenmann_bild_ch7_id{
    margin: 5%;
    height: 20%;
    width: 20%;
}
/*Sensenmann Bild*/
#chapter_wald{
    display: none;
    font-size: 130%;
    margin: auto;
}
/*neues Kapitel*/
#tot_ch8_id{
    font-weight: 600;
}
/*du-bist-tot Text*/
#sensenmann_con_ch8_id{
    display: none;
    justify-content: center;
}

#sensenmann_bild_ch8_id{
    margin: 5%;
    height: 20%;
    width: 20%;
}
/*Sensenmann Bild*/
#chapter_berge{
    font-size: 130%;
    margin: auto;
    display: none;
}
/*nächstes Kapitel*/
#btns_con_unten9_id{
    display: none;
    align-items: center;
    justify-content: center;
}
/*buttons container*/
#lagerfeuer_con_id{
    margin: 5%;
}
#lagerfeuer_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#lagerfeuer_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*lagerfeuer button*/
#hütten_con_id{
    margin: 5%;
}
#hütten_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#hütten_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*hütten button*/
#weiterkarte_con_id{
    margin: 5%;
}
#weiterkarte_btn_id{
    margin: 5%;
    border-radius: 20%;
    border-color: red;
    color: red;
    padding: 2%;
    font-size: 120%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#weiterkarte_btn_id:hover{
    font-size: 140%;
    cursor: pointer;
}
/*karte weiter befolgen button*/
#chapter_lagerfeuer{
    font-size: 130%;
    margin: auto;
    display: none;
}
/*erstes Ende*/
#chapter_hütten{
    display: none;
    font-size: 130%;
    margin: auto;
}
/*neues Kapitel*/
#tot_ch11_id{
    font-weight: 600;
}
/*du-bist-tot Text*/
#sensenmann_con_ch11_id{
    display: none;
    justify-content: center;
}/*sensenmann bild container*/

#sensenmann_bild_ch11_id{
    margin: 5%;
    height: 20%;
    width: 20%;
}/*sensenmann bild*/
#chapter_weiterkarte{
    display: none;
    font-size: 130%;
    margin: auto;
}/*letztes Kapitel(vorerst)*/
#brief_id{
    font-family: 'Smooch';
    font-weight: 400;
    font-size: 150%;
}
#made_id{
    font-size: 120%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#love{
    margin: 1%;
    color:rgb(235, 117, 117);
}